/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping_term_ms = <100>;
};

&sl {
	release-after-ms = <1000>;
};


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "MAIN";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B |   |  J  |  L   |  U  |  Y  |  ;  |1sht 3|
// | BACK |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '   |
// |ST/ESC|  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | ESC  |
//                    | CTRL| SPC | ALT |   | LAY1| ENT  |LAY2 |
                        bindings = <
   &kp TAB          &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L   &kp U     &kp Y   &kp SEMI &sl 3
   &kp BSPC         &kp A &kp R &kp S &kp T &kp G   &kp M &kp N   &kp E     &kp I   &kp O    &kp SQT
   &mt LSHFT ESC    &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H   &kp COMMA &kp DOT &kp FSLH &mt RSHFT ESC
                    &kp LCTRL &kp SPACE &mo 1           &mo 2 &kp RET &kp LALT                           
>;
                };
                number_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |  ESC |  !   |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | HOME |
// | DEL  |  1   |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | END  |
// | WIN  |WINTAB|VOL V|VOL ^|     |     |   | LEFT|DOWN |  UP |RIGHT|PGDWN| PGUP |
//                     |     |     |     |   |     |     |     |
                        bindings = <
   &kp ESC  &kp EXCL      &kp AT       &kp HASH     &kp DLLR &kp PRCNT      &kp CARET &kp AMPS &kp STAR &kp LPAR  &kp RPAR  &kp HOME
   &kp DEL  &kp N1        &kp N2       &kp N3       &kp N4   &kp N5         &kp N6    &kp N7   &kp N8   &kp N9    &kp N0    &kp END
   &kp LGUI &kp LG(TAB)   &kp C_VOL_UP &kp C_VOL_DN &trans   &trans         &kp LEFT  &kp DOWN &kp UP   &kp RIGHT &kp PG_DN &kp PG_UP
                                       &trans       &trans   &trans         &trans    &trans   &trans
                        >;
                };
                symbol_layer {
                        label = "SYMBOL";
                        bindings = <
   &trans  &kp LBRC &kp RBRC &kp LPAR  &kp RPAR &kp PRCNT   &trans    &trans    &trans    &trans   &kp STAR  &trans
   &trans  &kp AMPS &kp PIPE &kp COLON &kp SEMI &kp DLLR    &kp PLUS  &kp MINUS &kp EQUAL &kp FSLH &kp BSLH  &trans
   &trans  &kp LT   &kp GT   &kp LBKT  &kp RBKT &kp HASH    &kp GRAVE &kp TILDE &kp CARET &kp AT   &kp PRCNT &trans
                    	     &trans    &trans   &trans      &trans    &trans    &trans
                        >;
                };
                oneshot_layer {
                        label = "SHOT";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp F1 &kp F2 &kp F3 &kp F4  &kp F5 &kp F6   &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
   &none  &none  &none  &none   &none  &none    &none  &none  &none  &none   &none   &none
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &kp C_PREV &kp C_PP &kp C_NEXT &kp K_APP &kp LA(PSCRN) &kp PSCRN
                    	     &trans    &trans   &trans      &trans    &trans    &trans
                        >;
                };
        };
};
